<div *ngIf="loading">
  <div class="row text-center animated fadeIn">
    <div class="col ">
      <i class="fas fa-sync fa-spin fa-5x"></i>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h1>Cargando componentes ... </h1>
    </div>
  </div>
</div>
<div *ngIf="!loading">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm">
			<div class="row">
				<span class="text-success"><i class="fas fa-user"></i>  Consultar información del alumno</span>
				<div class="input-group mb-3">
          <input type="text" class="form-control" #wordcode  placeholder="Ingresa correo electrónico del alumno">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" (click)="searchUser(wordcode.value)">
              <i [ngClass]=" { 'fa-search':!loading, 'fa-sync fa-spin':loading }" class="fa"></i>
              <span *ngIf="!loading">Buscar</span>
              <span *ngIf="loading">Procesando</span>
            </button>
          </div>
        </div>
			</div>
			<div class="row alert alert-info" >{{messageError}}</div>
			<div class="row">
				<div *ngIf="!loadingData && userAccount && isFindOk">
					<form>
						<div class="form-row">
							<div class="col">
								<small>Nombre</small>
								<input type="text" class="form-control" name="name" value="{{userAccount.person.name}}">
							</div>
							<div class="col">
								<small>Apellido Paterno</small>
								<input type="text" class="form-control" name="fatherName" value="{{userAccount.person.fatherName}}">
							</div>
							<div class="col">
								<small>Apellido Materno</small>
								<input type="text" class="form-control" name="motherName" value="{{userAccount.person.motherName}}">
							</div>
							<div *ngIf="userAccount.admin.initialPassword" class="col">
								<small>Password Inicial</small>
								<input type="text" class="form-control" name="motherName" value="{{userAccount.admin.initialPassword}}">
							</div>
						</div><br>
						<button class="btn btn-outline-info" type="button" (click)="setUser()">
              <i [ngClass]=" { 'fa-search':!loading, 'fa-sync fa-spin':loading }" class="fa"></i>
              <span *ngIf="!loading">Guardar</span>
              <span *ngIf="loading">Guardando</span>
            </button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<div class="row">

	</div>
</div>
